.container {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
.subcontainer {
  text-align: center;
  color: #303841;
}

.subcontainer td {
  border: 1px solid rgb(8, 8, 8);
  border-radius: 5px;
}

.btnxx {
  outline: none;
  border: none;
  background-color: #303841;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 500;
  color: #eeeeee;
  height: 30px;
  width: 30px;
  padding-right: 2px;
  padding-left: 2px;
  margin-bottom: 1px;
  margin-top: 1px;
}

.btnxx:hover {
  border: none;
  outline: none;
  height: 30px;
  cursor: pointer;
}
