.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.Card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95% !important;
  display: flex;
  flex-direction: column;
}
.cardContent {
  padding: 40px;
  background-color: #eeeeee;
  height: max-content;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  color: #303841;
}
.cardContent h2 {
  margin-bottom: 30px;
}
