html,
body {
	background-color: #303841;
}
.container {
	color: white;
	text-align: center;
	display: flex;
	flex-direction: column;
	margin: 0 30px;
}
.title {
	border-bottom: solid 1px #fff;
	margin-bottom: 1rem;
}
.container div {
	display: flex;
	justify-content: space-between;
}
.buttons button {
	margin: 0 20px;
}

.container button {
	width: 20%;
	height: 50px;
	font-size: 1rem;
}
